<div class="min-h-screen flex items-center justify-center
            bg-gradient-to-br from-indigo-500 via-purple-500 to-blue-600">

  <mat-card
    class="w-full max-w-md p-10 rounded-3xl
           shadow-2xl bg-white">

   
    <!-- Heading -->
    <h2 class="text-3xl font-extrabold text-center text-gray-900 mb-2">
      Create Account
    </h2>

    <p class="text-center text-gray-500 mb-8">
      Get started in less than a minute
    </p>

    <!-- Form -->
    <form
      [formGroup]="signupForm"
      (ngSubmit)="onSignup()"
      class="space-y-6">

      <!-- Name -->
      <mat-form-field  class="w-full">
        <mat-label>Full Name</mat-label>
        <input matInput formControlName="name" placeholder="John Doe">
      </mat-form-field>

      <!-- Email -->
      <mat-form-field  class="w-full">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="you@example.com">
      </mat-form-field>

      <!-- Password -->
      <mat-form-field  class="w-full">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>

      <!-- Confirm Password -->
      <mat-form-field  class="w-full">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword">
      </mat-form-field>

      <!-- Button -->
      <button
        mat-raised-button
        class="w-full py-3 text-lg font-semibold
               bg-black hover:bg-gray-900
               text-white rounded-xl
               transition-all duration-200"
        [disabled]="signupForm.invalid">
        Create Account
      </button>

    </form>

    <!-- Footer -->
    <p class="text-center text-sm text-gray-500 mt-6">
      Already have an account?
      <span
        class="text-indigo-600 font-semibold cursor-pointer" [routerLink]="['/auth/login']">
        Login
      </span>
    </p>

  </mat-card>
</div>
